body {
  font-family:arial,sans-serif;
  background-color: #ffffff;
  color:#202124;
}

.container.google-search {
  /* margin: auto; */
  text-align: center;
  /* width: 100%; */
  /* border: 3px solid green; */
  padding: 16px 24px;
  /* padding: 12px; */
}

.google-logo {
  text-align: center;
  padding-top:109px;
  margin-bottom: 8px;
}

.google-logo .logo-img {

  /* width: 272px; */
  /* height: 92px; */
  width: 17rem;
  height: 5.75rem;
}

#images-txt p {
  margin: -22px 0 0 208px;
  /* margin-left: 208px; */
  position: relative;
  /* margin-top: -22px; */
  font-size: 1rem;
  color: #4285f4;
  white-space: nowrap;
}

.search {
  /* text-align: center; */
    /* margin: 0 auto; */
  /* margin: auto; */
  /* width: 50%; */
  /* border: 3px solid green; */
  padding: 10px;
}

.input-outer-wrapper {
  position: relative;
  margin: 0 auto;
  width: 33.5rem;
  width: 36.38rem;
  border: solid 1px red;
  border: solid 1.5px rgb(223,225,229);
  /* border: solid 1px rgba(223,225,229,0); */
  border-radius:24px;
  /* z-index:3; */
  height:44px;
  /* margin:0 auto;
  width:534px */
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.input-outer-wrapper:hover {
  box-shadow:0 1px 6px rgba(32,33,36,.28);
}



/* .input-inner-wrapper {
  border: solid 1px red;
} */

.search-icon-grey {
  margin-left: -10px;
  /* width: 1.25rem; */
  /* height: 2rem; */
  /* color: red; */
  font-size: 0.9rem;
  font-weight: 100;
  color: #9aa0a6;
  height: 1.25rem;
  width: 1.25rem;
  /* background-color: grey; */
}

.input-outer-wrapper input[type="text"] {
  margin-left: -40px;
  /* background-color: rgb(0, 255, 149); */
  /* width: 21.88rem; */
  width: 28rem;
  height: 2.125rem;
  font-size: 1rem;
  border: none;
}

/* .input-outer-wrapper input[type="text"]:focus { */
input:focus {
  outline: none;
  background-color: transparent;
}

.utils {
  margin-right: 15px;
  width: 7.5rem;
  background-color: blue;
}

.row.links {
  padding: 100px;
}

.link-wrapper {
  text-align: right;
  height: 26px;
 
}

.link-wrapper a:nth-child(2) {
  margin-left: 0.5rem;
}

a {
  text-decoration: none;
  color:#202124;
  font-size: 0.8rem;
  /* color: #1a0dab; */
}
a:hover {
  text-decoration: underline;
}

.search-btns input{
  /* border: transparent; */
  background-color: #f8f9fa;
  /* border: 1px solid #f8f9fa; */
  border: solid 1px #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  margin: 28px 3px;
  padding: 10px 16px;
  text-align: center;
  font-size: 14px;
  border-radius: 4px;
  /* height: 36px; */
  /* line-height: 27px; */
}

.search-btns input:hover{
  border: solid 1px #d8d9da;
  /* box-shadow:0 1px 1.5px rgba(32,33,36,.28); */
  box-shadow:0 1px 1.5px #d8d9da;

}

.search-btns input:focus {
  border: solid 1px blue;
}

/* Advanced Search */

.container.advance-search {
  margin: -7px;
}

.logo-link-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  padding: 0.8rem 1rem;
  background-color: #f1f1f1;
}

.logo-img-small {
  width: 5.8rem;
  /* height: 1.5rem; */
}

#advance-title-holder h3{

}

#advance-title-holder h3{
  color: #d93025;
  font-weight: 100;
  font-size: 1.25rem;
  margin: 1.4rem 0 1.4rem 2.8rem; 

}

hr.line {
  /* display: block;  */
  /* height: 1px; */
  border: 0; 
  border-top: 1.5px solid #f1f1f1; ;
  /* margin: 1em 0;  */
  padding: 0; 
}

form#adv-search-form {
  margin: 2rem;
}

form div.find, form#adv-search-form div{
  /* margin: 0; */
  height: 2.5rem;
}

form div.find, .adv-rows {
  display: flex;
  flex-direction: row;
  /* margin-top: 2rem; */
}

/* form div.find {
  height: 2.7rem;
} */

form div.find div:first-child, .adv-rows div:first-child{
  /* width: 11.5rem; */
  width: 15.2%;
  color: #222;
  font-size: 0.81rem;
  min-width: 10.45rem;
  /* height:  3.8rem; */
  /* line-height: 0.5rem; */

}

form div.find div:first-child {
  font-size: 1rem;
}



form div.find div:nth-child(2), .adv-rows div:nth-child(2) {
    width: 50%;
    font-weight: 400;
    /* padding: 1px 2px; */
    line-height: 0.5rem;
    /* margin-right: -50px; */
}


.adv-rows div:nth-child(2) input[type="text"]  {
  /* border-width: 2px; */

  border: 1px solid #d9d9d9;
  border-top: 1.5px solid #c0c0c0;
  border-radius: 0.0625rem;
  font-size: 0.81rem;
  height: 1.5rem;
  padding: 1px 9px;
  width: 92.5%;
}

.adv-rows div:nth-child(2) input[type="text"]:focus  {
  border: 1px solid #4d90fe;
  border-top: 1px solid #4d90fe;
}

.adv-rows div:last-child {
    width: 32%;
    min-width: 160px;
    margin: 0 0 8px -15px;
    color: #555;
    font-size: 11px;
    padding-left: 5px;
}

.adv-rows div:last-child  p span{
  color: #665;
  font-family: monospace;
} 

form div.find div:last-child {
  font-size:  0.8125rem;
  font-weight: 700;
  color: #777;
  margin-top: 5px;
  margin-left: -22px;
  padding-left: 5px;
}

.adv-rows div#submit-btn {
  display: flex; 
  justify-content: flex-end;
}

.adv-rows div#submit-btn input{
  /* float: right; */
  line-height: 100%;
  height: 30px;
  min-width: 130px;
  margin: 10px 0;
  margin-right: 24px;
  padding: 0 13px;
  border: 1px solid #3079ed;
  color: #fff;
  font-size: 0.6875rem;
  text-align: center;
  border-radius: 2px;
  font-weight: bold;
  white-space: nowrap;
  min-width: 3.375rem;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #4d90fe;
  /* background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed); */
}

.adv-rows div#submit-btn input:hover{
  background-color: #4889f1;
}

.adv-rows div#submit-btn input:focus{
  /* border: 1px solid #fff;
  border: 2px solid red; */
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  outline: 1px solid #4d90fe;
}

div.hr-line .line {
  margin-top: 30px;
}

