body {
  font-family:arial,sans-serif;
  background-color: #ffffff;
  color:#202124;
}

.container.google-search {
  text-align: center;
  padding: 1rem 1.5rem
}

.google-logo {
  text-align: center;
  padding-top: 6.813rem;
  margin-bottom: 0.5rem;
}

.google-logo .logo-img {
  width: 17rem;
  height: 5.75rem;
}

#images-txt p {
  margin: -1.375rem 0 0 13rem;
  position: relative;
  font-size: 1rem;
  color: #4285f4;
  white-space: nowrap;
}

.search {
  margin: 0 auto;
  padding: 0.625rem;
}

.input-outer-wrapper {
  position: relative;
  margin: 0 auto;
  width: 36.38rem;
  border: solid 0.0625rem rgb(223,225,229);
  border-radius:1.5rem;
  height:2.75rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff !important;
}

.input-outer-wrapper:hover {
  background-color: #ffffff !important;
  box-shadow:0 1px 6px rgba(32,33,36,0.28);
}

.search-icon-grey {
  margin-left: -0.1875rem;
  font-size: 0.9rem;
  font-weight: 100;
  color: #9aa0a6;
  height: 1.25rem;
  width: 1.25rem;
}

.input-outer-wrapper input[type="text"] {
  margin-left: -1.25rem;
  width: 26rem;
  height: 2.125rem;
  font-size: 1rem;
  border: none;
}

input:focus {
  outline: none;
  background-color: transparent;
}

.camera {
  margin-left: -1.688rem;
  width: 1.5rem; 
  height:1.5rem;
  background-size: 1.5rem;
  background-image: url('https://www.gstatic.com/images/icons/material/system/2x/photo_camera_grey600_24dp.png');
  background-color: #ffffff;
}

.mic img {
  width:0.825rem; 
  height:1.18rem;
}

.mag-glass img {
  width: 1.1rem; 
  height: 1.18rem;
}

.row.links {
  padding: 6.25rem;
}

.link-wrapper {
  text-align: right;
  height: 1.625rem;
}

.link-wrapper a:nth-child(2) {
  margin-left: 0.5rem;
}

a {
  text-decoration: none;
  color:#202124;
  font-size: 0.8rem;
}

a:hover {
  text-decoration: underline;
}

.search-btns input{
  background-color: #f8f9fa;
  border: solid 1px #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  margin: 1.75rem 0.1875rem;
  padding: 0.625rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}

.search-btns input:hover{
  border: solid 1px #d8d9da;
  box-shadow:0 1px 1.5px #d8d9da;
}

.search-btns input:focus {
  border: solid 1px blue;
}

.footer {
  left: 0;
  position: absolute;
  right: 0;
  text-align: left;
  width: 100%;
  min-width: 25rem;
  font-size: 0.875rem;
  background: #f2f2f2;
}

#search-footer.footer, #img-footer.footer {
  bottom: 0;
}

#adv-footer.footer {
  margin-bottom: 0;
}

.footer .inner-footer .location {
  border-top: 1px solid #dadce0;
  border-bottom: 1px solid #dadce0;
  line-height: 2.5rem;
  color: rgba(0,0,0,.54);
}

.footer .inner-footer .location span {
  font-size: 0.9375rem;
  text-align: left;
  padding-left: 1.688rem;
}

.footer .inner-footer .footer-links {
  line-height: 2.5rem;
  text-align: left;
  color: rgba(0,0,0,.54);
  padding-left: 1.063rem;
}

.footer .inner-footer .footer-links span:first-child{
  padding-right: 1.25rem;
  float: right;
}

.footer .inner-footer .footer-links span.advanced-footer {
  float: left;
  }

.footer .inner-footer .footer-links span:nth-child(2){
  float: left;
}

.footer-links a {
  display: inline-block;
  margin: 2px 10px 0;
  color: #70757a;
  font-size: 0.875rem;
}

/* Advanced Search */

.container.advance-search {
  margin: - 0.4375rem;
}

.logo-link-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  padding: 0.8rem 1rem;
  background-color: #f1f1f1;
}

.logo-img-small {
  width: 5.8rem;
}

#advance-title-holder h3{
  color: #d93025;
  font-weight: 100;
  font-size: 1.25rem;
  margin: 1.4rem 0 1.4rem 2.8rem; 

}

hr.line {
  border: 0; 
  border-top: 1.5px solid #f1f1f1; ;
  padding: 0; 
}

form#adv-search-form {
  margin: 2rem;
}

form div.find, form#adv-search-form div{
  height: 2.5rem;
}

form div.find, .adv-rows {
  display: flex;
  flex-direction: row;
}

form div.find div:first-child, .adv-rows div:first-child{
  width: 15.2%;
  color: #222;
  font-size: 0.81rem;
  min-width: 10.45rem;
}

form div.find div:first-child {
  font-size: 1rem;
}

form div.find div:nth-child(2), .adv-rows div:nth-child(2) {
  width: 50%;
  font-weight: 400;
  line-height: 0.5rem;
}

.adv-rows div:nth-child(2) input[type="text"]  {
  border: 1px solid #d9d9d9;
  border-top: 1.5px solid #c0c0c0;
  border-radius: 0.0625rem;
  font-size: 0.81rem;
  text-align: left;
  height: 1.5rem;
  padding: 1px 9px;
  width: 92.5%;
}

.adv-rows div:nth-child(2) input[type="text"]:focus  {
  border: 1px solid #4d90fe;
  border-top: 1px solid #4d90fe;
}

.adv-rows div:last-child {
  width: 32%;
  min-width: 10rem;
  margin: 0 0 0.5rem -0.9375rem;
  color: #555;
  font-size: 0.6875rem;
  padding-left: 0.3125rem;
}

.adv-rows div:last-child  p span{
  color: #665;
  font-family: monospace;
} 

form div.find div:last-child {
  font-size:  0.8125rem;
  font-weight: 700;
  color: #777;
  margin-top: 5px;
  margin-left: -1.375rem;
  padding-left: 0.3125rem;
}

.adv-rows div#submit-btn {
  display: flex; 
  justify-content: flex-end;
}

.adv-rows div#submit-btn input{
  line-height: 100%;
  height: 1.875rem;
  min-width: 8.125rem;
  margin: 0.625rem 0;
  margin-right: 1.5rem;
  padding: 0 0.8125rem;
  border: 1px solid #3079ed;
  color: #fff;
  font-size: 0.6875rem;
  text-align: center;
  border-radius: 2px;
  font-weight: bold;
  white-space: nowrap;
  min-width: 3.375rem;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #4d90fe;
}

.adv-rows div#submit-btn input:hover{
  background-color: #4889f1;
}

.adv-rows div#submit-btn input:focus{
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  outline: 1px solid #4d90fe;
}

div.hr-line .line {
  margin-top: 1.875rem;
}

.additional-links {
  line-height:1.1rem;
  margin: -4.4rem 0 2.5rem 2.5rem;
}
.additional-links div span{
  line-height:3rem;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

.additional-links div a{
  color: #0000EE;
  font-size: 0.8125rem;
}

/* Media Screens Queriies */

@media only screen and (max-width: 1050px) {
  .right-col {
    display: none;
  }
}

@media only screen and (max-width: 805px) {
  .input-outer-wrapper input[type="text"] {
    width: 24rem;
  }

  .footer .inner-footer .footer-links {
    text-align: center;
  }

  .footer .inner-footer .footer-links span {
    clear: both;
    min-width: 100%;
  }

  .footer .inner-footer .footer-links span:first-child {
    padding-right: 0px;
    }
}

@media only screen and (max-width: 640px) {
  .input-outer-wrapper {
    width: 34rem;
  } 
  
  .input-outer-wrapper input[type="text"] {
    width: 22rem;
  }
}

@media only screen and (max-width: 600px) {
  .input-outer-wrapper {
    width: 30rem;
  }

  .input-outer-wrapper input[type="text"] {
    width: 20rem;
  }
}

@media only screen and (max-width: 540px) {
  .input-outer-wrapper {
    width: 28rem;
  }

  .input-outer-wrapper input[type="text"] {
    width: 16rem;
  }
}

@media only screen and (max-width: 440px) {
  .input-outer-wrapper {
    width: 24rem;
  }

  .input-outer-wrapper input[type="text"] {
    width: 20rem;
  }
}
